<body>
   
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <div id="selec_menu"> Let's select some stuff from here. <br> <br>
	
	Location: <input type="text" class="textBox" id="address"> <input type="submit" class="button" value="Submit" id="make"> </input> <input type="submit" class="button" value="Map It" id="switch"> </input>
<br><br>
	<div class="imageBox" style="background-image:url('images/random.jpg')"><h3> Restuarants </h3></div> 
	<div class="imageBox" style="background-image:url('images/random.jpg')"><h3> Shopping </h3></div>
	<div class="imageBox" style="background-image:url('images/random.jpg')"><h3> NightLife </h3></div> 
	<div class="imageBox" style="background-image:url('images/random.jpg')"><h3> Beauty and Spa </h3></div> <br> <br>
</div>

    <script type = "text/javascript">

	$(document).ready(function() {	
	$('#map_canvas').hide();
	$('#switch').click(function() {
		initialize();
});
	$('#make').click(function() {
		createGuide();
});	
	$('.imageBox').click(function() {
		if ($(this).css("opacity") == 1)
			$(this).css("opacity", 0.5);
		else
			$(this).css("opacity", 1);
	});
});

    </script>
  </body>
