<body onload="initialize()">
   
    <div id="map_canvas" style="width:100%; height:100%"></div>
    <div id="selec_menu"> Let's select some stuff from here. <br> <br>
	<input type="submit" value="Submit" id="switch"> Click here to switch to map. </input>
</div>
  </body>
